@import '../_breakpoints'

.index
  display: flex
  position: relative

  +above('laptop')
    max-width: 1440px
    margin: 0 auto
    
  article
    padding 37px 24px 51px

    +above('laptop')
      padding 42px 71px 0 64px
      width: 100%;
  
    section:nth-child(2)
      +above('laptop')
        display: flex;