:root {
  /*--&lt;var&gt;: &lt;value&gt;*/
  --modal: #233B4A;
  --noroleusers: #ECEFF1;
  --main: #455A64;
  --placeholder: #636363;
  --sidebardivider: #90A4AE;
  --leftsidebar: #607D8B;
  --rightsidebar: #607D8B;
  --header: #263238;
  --chatmessage: #FFFFFF;
  --discrim: #FFFFFF;
  --chatbox: #37474F;
}
:root {
  --co-white: #fff;
  --co-black: transparent;
  --co-highlight: #2ACCB0;
  --co-rose: #FEB9B3;
  --co-midnight: #112B39;
  --main: transparent;
}

*:not(.material-icons) {
  font-family: 'Space Mono', 'IBM Plex Mono', ui-monospace, monospace !important;
}

body {
  background: var(--co-black);
}

.modal-content, label {
  color: var(--co-white);
}

#chatcontent .chattimestamp {
  color: var(--co-white);
}

.btn, #send-msg-btn, .btn-large {
  background-color: var(--co-highlight);
}

.btn:hover, .btn-large:hover {
  background-color: var(--co-highlight);
}

.side-nav #channels-list li>a {
  color: var(--co-midnight, black);
}

#chatcontent span.reactions .reaction {
  background-color: var(--co-black);
  color: var(--co-white);
}

.chatusername {
  color: var(--co-white);
}

.chatmessage .channellink, .chatmessage .discordmention, .rolemention {
  color: var(--co-highlight);
  background-color: rgba(0, 0, 0, 0.0);
  font-weight: bold;
}

.channellink,
.discordmention,
.rolemention {
  pointer-events: none;
}


a#visitor_login_btn {
  color: var(--co-highlight);
}

#discordlogin_btn {
  background-color: var(--co-highlight);
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid var(--co-highlight);
  -webkit-box-shadow: 0 1px 0 0 var(--co-highlight);
  box-shadow: 0 1px 0 0 var(--co-highlight);
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: var(--co-highlight);
}

.side-nav .subheader,
.guild_name,
.divider,
#members-btn,
.navbar-fixed,
.navbar-fixed img,
.navbar-fixed .brand-logo-text,
.dblballoon,
.authorhash,
.authordiscriminator,
h4#login-greeting-msg,
#modal_guildinfobox,
#guild-nav,
#members-nav,
#currentusername,
.wdt-emoji-picker,
#nameplate {
 display: none !important;
}

// imogen

.modal-overlay {
  background-color: black !important;
  opacity: 1 !important;
}
.modal {
  background-color: black !important;
  border: 0.5px solid white !important;
  border-radius: 0 !important;
  inset: 16px !important;
  width: initial !important;
  max-height: initial !important;
}
.modal-content {
  padding: 16px !important;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  height: 100% !important;
}
#loginmodal-maincontent {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#authfields {
  margin: 0;
  padding: 0;
  width: initial;
}
#authfield-choosetxt {
  font-family: 'Helvetica Now Display', Helvetica, sans-serif !important;
  font-size: 1.25rem !important;
  margin-top: 0;
}
#authfield-choosetxt ~ .row {
  margin: 1rem -0.75rem;
}
#authfield-choosetxt ~ .row > * {
  margin: 1rem 0;
}
#guest_login_instr {
  font-family: 'Helvetica Now Display', Helvetica, sans-serif !important;
  margin-bottom: 8px;
}
#custom_username_field {
  background-color: transparent;
  color: white;
  margin-bottom: 4px;
}
#reecaptchamodal h4 {
  font-family: 'Helvetica Now Display', Helvetica, sans-serif !important;
  font-size: 1.25rem !important;
  margin-top: 0;
}
#google-recaptcha {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: initial;
}

#overall-main-content {
  display: flex;
  flex-direction: column;
}
#overall-main-content main {
  flex-grow: 1;
  height: initial;
  min-height: initial;
}
#footer {
  position: initial;
  inset: initial;
  height: initial;
  background-color: black;
  border-top: 0.5px solid white;
}
#footercontainer {
  margin: initial;
  padding: initial;
  border: initial;
  border-radius: initial;
}
#messageboxouter {
  width: initial !important;
  height: initial !important;
  margin: initial;
  position: static;
  flex-grow: 1;
  display: flex;
}
#messagebox {
  padding: 8px;
  margin: 8px;
  border-bottom: none !important;
  min-height: initial;
  flex-grow: 1;
  max-width: initial;
}
#send-msg-btn {
  position: initial;
  inset: initial;
  width: initial;
  height: initial;
  border-radius: 0;
  padding: 16px;
  display: block;
  align-items: center;
  border-left: 0.5px solid white;
  background-color: black;
}
#send-msg-btn > i {
  position: initial;
  color: var(--co-highlight);
}
.authoravatar {
  max-width: 16px !important;
  margin-right: 0 !important;
  vertical-align: baseline !important;
}
.chatusername {
  font-size: 1rem !important;
  margin-right: 4px !important;
  vertical-align: baseline !important;
}
.chattimestamp {
  opacity: 0.5 !important;
}
.chatmessage.chatmessage {
  font-family: 'Helvetica Now Display', Helvetica, sans-serif !important;
}
