@import '../_breakpoints'
@import '../_global'
@import '../_theme'
@import '../inputs'

.Footer

  & > ul
    display flex
    flex-flow row nowrap
    justify-content center

    li
      @extend .button
      &:not(:last-child)
        margin-right $sp

  div
    display flex
    flex-flow row wrap
    @extend .caption

    & > *
      padding $sp2 0
      &:first-child,
      &:last-child
        flex 1

    ul
      display flex
      flex-flow row nowrap
      justify-content flex-end

      li:not(:last-child)
        margin-right $sp2

    +upTo('tablet')
      span:first-child
        flex-basis 100%
        border-bottom $border
        text-align center
    +above('tablet')
      border-top $border
      margin-top $sp2

.contact
  display flex
  flex-flow column nowrap
  align-items center

  > *:not(:last-child)
    margin-bottom $sp2

  ul
    display flex
    flex-flow column nowrap
    align-items center

    li
      @extend .button
      &:not(:last-child)
        margin-bottom $sp

  > a
    @extend .caption
