@import '../_breakpoints'
@import '../_theme'

.video-player-stream
  position fixed
  background-color rgba(0, 0, 0, 0.25)
  inset 0

  & > *
    position absolute
    display flex
    background-color black

    +upTo('tablet')
      inset 0

    +upTo('laptop')
      flex-direction column

      .video
        padding-bottom calc((100% * 9 / 16))
        height 0

      .chat
        flex 1

    +above('tablet')
      top 50%
      left 50%
      width calc(100% - 80px)
      height calc(100% - 80px)
      border 1px solid black
      transform translate(-50%, -50%)

    +above('laptop')
      .video
        flex 1

      .chat
        flex-shrink 0

.video
  position relative
  max-height 100%

.actions
  position absolute
  display flex
  justify-content space-between
  align-items center
  padding 10px 10px 40px
  background linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0))
  color white
  inset 0 0 auto

.close
  width var(--size)
  text-align center
  font-size var(--size)
  font-family sans-serif
  line-height var(--size)
  --size 24px

  +upTo('laptop')
    order -1
