@import '../layout/breakpoints'

.example
  font-size 10px
  +above('phone')
    font-size 20px
  +above('tabletNarrow')
    font-size 40px
  +above('tablet')
    font-size 60px
  +above('desktopNarrow')
    font-size 80px
  +above('desktop')
    font-size 100px
  +above('desktopWide')
    font-size 120px

  color orange
  +upTo('tabletNarrow')
    color red
  +upTo('desktopNarrow')
    color green
  +upTo('desktop')
    color blue

  +between('phone', 'tabletNarrow')
    font-family sans-serif
  +between('tablet', 'desktopNarrow')
    font-family monospace
