.breakpoints
  font-size 10px
  +above(2)
    font-size 20px
  +above(3)
    font-size 40px
  +above(4)
    font-size 60px
  +above(5)
    font-size 80px
  +above(6)
    font-size 100px

  color red
  +above(rupture.mobile-cutoff)
    color green
  +above(rupture.desktop-cutoff)
    color blue
  +above(rupture.hd-cutoff)
    color orange

  +mobile()
    font-style italic
  +tablet()
    font-family sans-serif
  +desktop()
    font-family monospace
