@import '../_theme'

html, body
  min-height 100vh

body > *:first-child
  @extend body
  display flex
  flex-flow column nowrap
  padding $sp2 $sp2 0
  max-width 960px
  margin 0 auto

main
  flex 1
  margin-bottom $sp2
