:root
  font-family Helvetica, sans-serif
  font-size 17px
  line-height 20px

h1
  font-size 25px
  line-height 28px

h2
  @extend h1
  font-weight bold

.caption
  font-size 12px
  line-height 15px

a
  text-decoration underline
  &:not(:disabled)
    cursor pointer

* + p
  margin-top 10px
