//
// COLORS
//
$c = $c-black
$c-black = black
$c-white = white
$cw = $c-white
$c-primary = red
//shorthands
$ck = $c-black
$cw = $c-white
$cp = $c-primary

//
// SPACING
//
$sp = 10px
$sp-sm = $sp / 2
$sp-md = $sp
$sp-lg = $sp * 2
$sp-xl = $sp * 4
$sp-xxl = $sp * 8
// shorthands
$sp0 = $sp-sm
$sp1 = $sp
$sp2 = $sp-lg
$sp4 = $sp-xl
$sp8 = $sp-xxl

//
// BORDERS
//
$border = 1px solid $c
