
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-ExtraBold.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Manrope';
  src: url('../public/fonts/Manrope-SemiBold.ttf');
  font-weight: 600;
}
