// Try not to add stuff here
// Windi probably has what you need: https://windicss.org/utilities/
// You can add aliases in ../windi.config.ts > shortcuts

:root {
  @apply font-sans box-border;
  font-size: 15px;
}

.dark {
  a, .prose strong {
    @apply text-light-gray;
  }
  .prose {
    @apply text-white;
  }
}

* {
  scrollbar-width: none;

   &::-webkit-scrollbar {
    display: none;
  }
}
