// Try not to add stuff here
// Windi probably has what you need: https://windicss.org/utilities/
// You can add aliases in ../windi.config.ts > shortcuts

@font-face {
  font-family: 'Helvetica Now Display';
  src: url('../public/HelveticaNowDisplay.woff');
}

:root {
  @apply font-sans box-border;
  font-size: 16px;
}

* {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
